<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RetrieveProducts</servlet-name>
        <servlet-class>Controller.RetrieveProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductsCategory</servlet-name>
        <servlet-class>Controller.FindProductsCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCertainProduct</servlet-name>
        <servlet-class>Controller.FindCertainProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempAddOrderedProduct</servlet-name>
        <servlet-class>Controller.TempAddOrderedProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogout</servlet-name>
        <servlet-class>Controller.CustomerLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesRecordServlet</servlet-name>
        <servlet-class>Controller.SalesRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderedProduct</servlet-name>
        <servlet-class>Controller.RemoveOrderedProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>Controller.SearchProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveProducts</servlet-name>
        <url-pattern>/RetrieveProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductsCategory</servlet-name>
        <url-pattern>/FindProductsCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCertainProduct</servlet-name>
        <url-pattern>/FindCertainProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempAddOrderedProduct</servlet-name>
        <url-pattern>/TempAddOrderedProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogout</servlet-name>
        <url-pattern>/CustomerLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesRecordServlet</servlet-name>
        <url-pattern>/SalesRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderedProduct</servlet-name>
        <url-pattern>/RemoveOrderedProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
