<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Server.Staff.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Server.Staff.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffController</servlet-name>
        <servlet-class>Server.Staff.EditStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerGenerateInventoryReport</servlet-name>
        <servlet-class>Controller.ServerGenerateInventoryReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerGenerateProductSalesReport</servlet-name>
        <servlet-class>Controller.ServerGenerateProductSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerGenerateSalesReport</servlet-name>
        <servlet-class>Controller.ServerGenerateSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerRetrieveOrders</servlet-name>
        <servlet-class>Controller.ServerRetrieveOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerSearch</servlet-name>
        <servlet-class>Controller.ServerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerSearchOrders</servlet-name>
        <servlet-class>Controller.ServerSearchOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerUpdateOrderStatus</servlet-name>
        <servlet-class>Controller.ServerUpdateOrderStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffController</servlet-name>
        <url-pattern>/EditStaffController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientLogin</servlet-name>
        <servlet-class>Controller.ClientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLogout</servlet-name>
        <servlet-class>Controller.ClientLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRegister</servlet-name>
        <servlet-class>Controller.ClientRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientPayment</servlet-name>
        <servlet-class>Controller.ClientPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerSalesRecord</servlet-name>
        <servlet-class>Controller.ServerSalesRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientLogin</servlet-name>
        <url-pattern>/ClientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLogout</servlet-name>
        <url-pattern>/ClientLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegister</servlet-name>
        <url-pattern>/ClientRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientPayment</servlet-name>
        <url-pattern>/ClientPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerSalesRecord</servlet-name>
        <url-pattern>/ServerSalesRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerGenerateInventoryReport</servlet-name>
        <url-pattern>/ServerGenerateInventoryReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerGenerateProductSalesReport</servlet-name>
        <url-pattern>/ServerGenerateProductSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerGenerateSalesReport</servlet-name>
        <url-pattern>/ServerGenerateSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerRetrieveOrders</servlet-name>
        <url-pattern>/ServerRetrieveOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerSearch</servlet-name>
        <url-pattern>/ServerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerSearchOrders</servlet-name>
        <url-pattern>/ServerSearchOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerUpdateOrderStatus</servlet-name>
        <url-pattern>/ServerUpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
