<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServerGenerateInventoryReport</servlet-name>
        <servlet-class>controller.ServerGenerateInventoryReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerGenerateSalesReport</servlet-name>
        <servlet-class>controller.ServerGenerateSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerRetrieveOrders</servlet-name>
        <servlet-class>controller.ServerRetrieveOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerSearch</servlet-name>
        <servlet-class>controller.ServerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerSearchOrders</servlet-name>
        <servlet-class>controller.ServerSearchOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerUpdateOrderStatus</servlet-name>
        <servlet-class>controller.ServerUpdateOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerGenerateProductSalesReport</servlet-name>
        <servlet-class>controller.ServerGenerateProductSalesReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerGenerateInventoryReport</servlet-name>
        <url-pattern>/ServerGenerateInventoryReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerGenerateSalesReport</servlet-name>
        <url-pattern>/ServerGenerateSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerRetrieveOrders</servlet-name>
        <url-pattern>/ServerRetrieveOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerSearch</servlet-name>
        <url-pattern>/ServerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerSearchOrders</servlet-name>
        <url-pattern>/ServerSearchOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerUpdateOrderStatus</servlet-name>
        <url-pattern>/ServerUpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerGenerateProductSalesReport</servlet-name>
        <url-pattern>/ServerGenerateProductSalesReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
